<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/unique.css" />
  </head>
  <body>
    <br />
    <div class="text1">
      <div class="text">Your Meeting is scheduled at <%=link%></div>
      <!-- <div class="link"><%=link%></div> -->
      <br />
    </div>
    <!-- <%=link%> -->
  </body>
</html>
