<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting Link</title>
    <link rel="stylesheet" href="css/unique.css" />
  </head>
  <body>
    <div class="container">
      <div class="text">Your unique Meeting code is</div>
      <div class="link"><%=code%></div>
      <br />
      <!-- <div class="button">
        <button class="btn btn-outline">
          <!-]- <a href="/<%=code%>"> go to</a> --
        </button> -->
      </div>
    </div>
  </body>
</html>
