* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  margin-top: 200px;
  margin-bottom: 100px;
  /* margin-left: 100px; */
}
.dd {
  width: 700px;
  height: 400px;
  border: 2px solid black;
  position: relative;
}
video {
  width: 700px;
  height: 400px;
  object-fit: cover;
}

cl {
  /* font-size: 25px; */
  background-color: blue;
  color: #ffff;
}

.link {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: #fff;
}
