.center {
  margin-top: 100px;
  margin-left: 450px;
}

.heading {
  text-align: center;
  margin-top: 250px;
  font-size: 50px;
}
.cent {
  margin-bottom: 20px;
  /* margin-left: 50px; */
}
.centt {
  margin-left: 70px;
}
.pad {
  margin-bottom: 10px;
  font-size: 25px;
}
.sizee {
  font-size: 25px;
  margin-bottom: 0;
}
.btnn {
  padding: 5px;
}

.bot {
  margin-top: 20px;
}
